// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.phone {
  position: absolute;
  padding: 0.43em 1em;
  top: 8px;
  margin-left: 1em;
  border-radius: 5px;
}
